@import "./base.css";

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* background-image: url("./images/background.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;

  font-weight: normal;
}

body {
  background: url("src/assets/images/mobile_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */
